{% extends "pagelayout.html.twig" %}
{% block content %}
  <h3 class="center bottom-plus new-header">{{ ez_content_name(content) }}</h3>
  <div class="col-xs-10 text-justified">{{ ez_render_field(content, 'description') }}</div>
{% endblock %}